@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #1a0327;
    font-family: 'Poppins', sans-serif;
    height: 350vh;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/b.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    height: 10vh;
    background: #e48125;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
    padding-left: -50px;
}

.home{
    width: 180px;
    height: 10.5vh;
    background: #c7c10b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 27% 100%);    padding: 10px;
    line-height: 1.3rem;
    margin-top: -18px;
    text-align: center;
    margin-right: 30px;
}
.beltpic
{
    height: 80px;
    width: 80px;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;  
}

.logopic{
    height: 60px;
    width: 60px;

    
}


ul.navbar{
    display: flex;
    list-style: none;
    margin-top: -50px;
    margin-left: 500px;
}
ul.navbar li{
    width: 120px;

   
}

ul.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
ul.navbar li a.active{
    color: #fe7b3a;
}

ul.navbar li a:hover:not(.active){
    color: #fe6b3a;
}
#btn{
    width: 250px;
    height: 10vh;
    background: #FEC53A;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
    margin-left: 1150px;
    margin-top: -130px;
    padding-top: 55px;
}


#btn .fas{
    margin-right: 10px;
padding-bottom: -40px;
}

/* Content desc starts here */
.content-wrapper{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
/* .content-desc{

} */

.content-desc h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.content-desc p{
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.content-desc span{
    color: #FEC53A;
}
#btn2{
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background: #FEC53A;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
}
.pete{
    width: 450px;
    height: 380px;
    background: linear-gradient(rgba(38, 2, 39, 0.849),rgb(204, 115, 14));
    background-size: cover;
    background-position: center;
    position: relative;
}


.pete::before{
    content: '';
    width: 160px;
    height: 160px;
    background: url(../images/cube.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 200px;
}
.pete::after{
    content: '';
    width: 450px;
    height: 380px;
    background: url(../images/pete.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: -150px;
}
.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.logo-section .fas{
    font-size: 6rem;
    color: #FEC53A;
}
.logo-section h1{
    width: 250px;
    font-size: 2rem;
    color: #FEC53A;
    margin-left: 10px;
}
/* Section one starts here */

.section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/fortnit.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.section-1-wrapper{
    width: 70%;
    margin: auto;
}
.section-1 h1{
    width: 500px;
    color: #FEC53A;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}


.section-2{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/flame.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-2 h1{
    font-size: 2rem;
    color: #fff;
    margin: 20px 0;
}
.person{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.person span{
    font-size: 1.5rem;
    color: #FEC53A;
    font-weight: bold;
    margin-bottom: 10px;
}
.person p{
    font-size: 1.2rem;
    color: #fe5e3a;
    margin-bottom: 10px;
}


.section-3{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/controller.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section-3 h1{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.section-3-wrapper{
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.feedback{
    width: 250px;
    height: 300px;
    background: url(https://cdn.pixabay.com/photo/2017/04/07/23/17/father-2212092_960_720.jpg);
    background-position: center;
    background-size: cover;
 
}
.feedback-desc{
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.767);
    padding: 10px;
    color: #fff;
    margin-right: 10px;
}
.feedback-desc .far{
    color: #FEC53A;
    font-size: 30px;
}
.f-img-2{
    background: url(https://cdn.pixabay.com/photo/2017/04/07/23/20/father-2212101_960_720.jpg);
    background-position: center;
    background-size: cover;
}
/* FOoter section */
footer{
    width: 100%;
    height: 55vh;
    background: #282828;
    display: flex;
    align-items: center;
    
}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}
.footer-logo{
    height: 12vh;
    background-color: #FEC53A;
    color: #000;
    line-height: 1.9rem;
    padding-left: -50px;
}
ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #FEC53A;
    margin-right: 15px;
}
ul li a:hover{
    color: #FEC53A;
}
.footer-bottom{
    width: 100%;
    height: 7vh;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #FEC53A;
    font-weight: bold;
}